*{
	margin: 0%;

}

.navbar {
       padding: 2%;
}
.navbar a{
	text-decoration: none;
	font-size: 17px;
	color:black ;
	margin-left: 4%;
	
}

.navbar img{
	vertical-align: middle;

}
.logo{
	margin: 0% 12% 0% 3%
}
#signin{
	background-color:#00baf2;
	border-radius:25px;
	color: white;
	padding: 0.4% 0.7%;
	margin-left: 8%;
	text-align: center;
}
.paragraph{
	background-color: rgba(239, 239, 239, 0.8);
	font-size: 18px;
	padding: 1%;
}
.section2{
	font-family: "Poppins";
	display: flex;
	justify-content: space-between;
	padding: 7% 0% 5% 10%;
}
.recharge{
		margin-bottom: 5%;
		font-size: 20px;
}
.bharat{
	  font-size: 50px;
	font-weight: bold;
	font-family: sans-serif;
  
}
.download{
	border: 1px solid black;
	width: 50%;
	border-radius: 27px;
	padding: 1.7%;
	background-color: black;
	color: white;
    font-size: 17px;
    margin-left: 4%;
    margin-top: 10%;
    text-align: center;
}
.download:hover{
	background-color: white;
	color: black;
}
.icon i{
	margin-left: 4%;
}
.image1{
	margin-bottom: 6%;
}
.paybill{
	  font-size: 35px;
	  color: white;
}
.section3{
	padding: 5% 10%;
	background-color: #00adf2;
}

.payments{
	display: flex;
	justify-content: space-between;
	font-weight: bold;
	margin: 5% 0%;
	text-decoration: none;
}

.payments a{
	text-decoration: none;
	color: white;
}

.bookandbuy{
	  font-size: 35px;
	  color: white;
}
.section4{
	padding: 5% 10%;
	background-color: #2b54a6;
}
.block{
	display: flex;
	justify-content: space-between;
	font-weight: bold;
	margin: 5% 0%;
	text-decoration: none;
}
.block a{
	text-decoration: none;
	color: white;
}
.block a hover: {
	background-color: ;

}
.section5{
	background-color: rgba(239,239,239,0.6);
	padding: 5% 14%;
}
.sec5div1{
	display: flex;
	justify-content: space-between;
	background-color: white;
	padding: 9%;
	margin-top: 5%;
}
.wallet{
	display: flex;
}
.head{
	font-size: 40px;
	font-weight: bold;
	font-family: sans-serif;
	margin-top: 7%;
	margin-bottom: 5%;
}
.para{
		font-size: 18px;
	margin-bottom: 10%;
	font-family: "Poppins";

}
.head1{
	font-size: 50px;
	font-family: sans-serif;

}
.section6{
	background-color: rgba(239,239,239,0.6);
	padding: 5% 14%;
}
.sec6div1{
	display: flex;
	justify-content: space-between;
	background-color: white;
	padding: 9%;
	margin-top: 5%;
}
.section7{
	background-color: rgba(239,239,239,0.6);
	padding: 5% 14%;
}
.sec7div1{
	display: flex;
	justify-content: space-between;
	background-color: white;
	padding: 9%;
	margin-top: 5%;
}
.learn:hover{
	background-color: #00adf2 ;
	color: white;
	

}
.learn{
	border :1px   #00adf2 ;
	width: 25%;
       background-color: #043e7d;
	border-radius: 25px;
	padding:3.5%;
	text-align: center;
       color: white;
       font-family: sans-serif;
}
.sec8div1{

	display: flex;
	padding: 3% 3% 0% 3%;
}
.hdfc{
	background-color: white;
	border-radius: 10px;
	padding-top: 5%;
	padding-right: 5%;
	padding-left: 5%;
	margin:5% 2% ;
}
.sbi{
  margin-top: 13%;
}
.sec8div1 a{
	text-decoration: none;
	color: black;
}
.sec9div1{
	display: flex;
	justify-content: space-between;
	background-color: white;
	padding: 7%;
	
}
.sec9{
	padding: 5% 9% 5% 7%;
}
.financial{
	font-size: 50px;
	font-family: sans-serif;
	margin-left: 7%;
}
.sec10div1{
	display: flex;
	justify-content: space-between;
	padding: 7%;
	margin-left: 5%;
	margin-right: 5%;
}
.sec10{
	background-image: url("images/back.png");
	background-attachment: scroll;
	background-position: center;
	background-size: 100%;
}

